.chatWindow {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ddd;
    margin: 50px 0;
    overflow: hidden;
}

.userListSection {
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chatSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.noChatSelected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #666;
    padding: 20px;
}

.noChatSelected img {
    width: 100px;
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .chatWindow {
        flex-direction: row;
    }

    .userListSection {
        flex: 1;
        border-right: 1px solid #ddd;
        border-bottom: none;
    }

    .chatSection {
        flex: 3;
        overflow-y: auto;
    }
}
