.app-header {
    background-color: #282c34;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.search {
    display: flex;
    min-width: 500px;
}

.logo {
    font-size: 1.5em;
    color: white;
}

.search-bar {
    flex-grow: 1;
    margin: 0 15px;
    padding: 10px;
    border: 2px solid #61dafb;
    border-radius: 4px;
}

.login-signup {
    display: flex;
}

.login-signup .login-button,
.signup-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #61dafb;
    cursor: pointer;
}

.login-signup .login-button {
    background-color: transparent;
}