.paper {
  display: flex;
  margin-top: 64px;
  border-radius: 15px;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.image {
  height: 100%;
  max-width: none;
  object-fit: cover;
  position: absolute;
}


.form-container {
  padding: 32px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}



.MuiTextField-root {
  margin-bottom: 16px;
}


.submit {
  margin-top: 24px;
  background-color: #61dafb;
}


.MuiTypography-h5 {
  margin-bottom: 16px;
  font-weight: bold;
  color: #333;
}


.link {
  margin-top: 16px;
  text-align: right;
}


@media (max-width: 960px) {
  .paper {
    flex-direction: column;
  }

  .image {
    width: 100%;
    max-height: 250px;
  }
}